name: document translation

on:
  push:
    branches: 
      - develop
  workflow_dispatch:
env:
  AUTHENTICATION_KEY_DEEPL: ${{ secrets.AUTHENTICATION_KEY_DEEPL }}

jobs:
  translation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Get Python version
        run: python -V
      - name: Install dependencies
        run: pip install -r ./action/requirements.txt
      - name: Run Python
        run: python ./action/translator.py $AUTHENTICATION_KEY_DEEPL
      - name: Git push
        run:
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./document/*
          git commit -m "Generated automatically by git-actions"
          git push